<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>BasketGO</title>
<meta name="description" content="BasketGo" />
<link rel="stylesheet" href="../static/css/style.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300'
	rel='stylesheet' type='text/css'>
</head>

<body >
	<div class="wrapper">
		<div class="header">
			<div class="nav">
				<div class="logo">
					<div class="titular">
						<a href="index.html"> <img src="../static/images/titulo.png"
							alt="BasketoGo" />
						</a>
					</div>
				</div>
				<div class="menu">
					<ul>
						<li><a href="liga.html">Ligas</a></li>
						<li><a href="equipo.html">Equipos</a></li>
						<li><a href="jugadores.html">Jugadores</a></li>
						<li><a href="loguin/log">Loguearse</a></li>

					</ul>
				</div>
			</div>

		</div>
		{{#bienvenida}}
		<h1 style="">Bienvenido!!!!</h1>
		{{/bienvenida}}
		{{#logueado}}
		<h2>{{nombreId}}</h2>
		{{/logueado}}
	</div>
</body>
</html>