<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>BasketGO</title>
<meta name="description" content="BasketGo" />
<link rel="stylesheet" href="../css/style.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300'
	rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="wrapper">
		<div class="header">
			<div class="nav">
				<div class="logo">
					<div class="titular">
						<a href="/"> <img src="../images/titulo.png" alt="BasketoGo" />
						</a>
					</div>
				</div>
				<div class="menu">
					<ul>
						<li><a href="/liga">Ligas</a></li>
						<li><a href="/equipos">Equipos</a></li>
						<li><a href="/jugadores">Jugadores</a></li>

					</ul>
				</div>
			</div>

		</div>
		<h1 style="color: white;">Usuario incorrecto</h1>
		<a href="/login">Intentar de nuevo</a>
	</div>
</body>
</html>