<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>BasketGO</title>
<meta name="description" content="BasketGo" />
<link rel="stylesheet" href="../resources/static/css/style.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300'
	rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="wrapper">
		<form action="loguin/log" method="post">
			<p>Nombre:</p>
			<input type='text' name='nombreId'>
			<p>Contraseña:</p>
			<input type='text' name='contraseña'>

			<input type='submit' value='Enviar'>
		</form>
		<a href="registro.html">Registro</a>
		
	</div>
</body>
</html>