<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>BasketGO</title>
<meta name="description" content="BasketGo" />
<!-- STYLE SHEETS -->
<link rel="stylesheet" href="../css/style.css" />
<!-- GOOGLE FONTS -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300'
	rel='stylesheet' type='text/css'>
</head>

<body >
	<div class="wrapper">
		<div class="header">
			<div class="nav">
				<div class="logo">
					<div class="titular">
						<a href="/"> <img src="../images/titulo.png"
							alt="BasketoGo" />
						</a>
					</div>
				</div>
				<div class="menu">
					<ul>
						<li rel="Liga"><a href="/liga">Ligas</a></li>
						<li rel="Equipos"><a href="/equipos">Equipos</a></li>
						<li rel="Jugadores"><a href="/jugadores">Jugadores</a></li>

					</ul>
				</div>
			</div>
			
		<form action="/equipos/creacion" method="get">
		<input type='submit' value='Registrar Equipo'>
		</form>
		
		<form action="/equipos/porNombre" method="post">
			<h2 style="color: white;">Nombre Equipo:</h2>
			<input type='text' name='nombreEquipo'>
			
			<input type='submit' value='Enviar'>
		</form>
		
		{{#mensaje}}
		<h2 style="color: white;">{{mensaje}}</h2>
		{{/mensaje}}
		
		</div>
	</div>
</body>
</html>